#app {
  --lightColor: #FE6903;
}

.bold { font-weight: bold; }
.light { color: #FE6903; }
.gray { color: #888992; }

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
.fs36 { font-size: 36px; }
.fs42 { font-size: 42px; }

.ml10 { margin-left: 10px; }
.mr20 { margin-right: 20px; }
.mb10 { margin-bottom: 10px; }

.fl { float: left; }
.fr { float: right; }

.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-1 { flex: 1; }

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer!important;
}

.no-pointer {
  cursor: unset!important;
}

.link {
  color: #0000EE;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.text-overflow {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txt_overflow {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 10px;
}
/* 滑轨 */
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
  background-color: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// 颜色选择器 层级修正（富文本层级）
.zs-color-picker-panel__visible {
  z-index: 1999!important;
}