.el-button[type="button"] {
  $color: #FE6903;
  background-color: $color;
  color: #fff;
  border-color: $color;
  &:hover {
    color: #fff;
    border-color: lighten($color, 20%);
    background-color: lighten($color, 20%);
  }
}
.config-edit-item {
  // .el-slider__bar {
  //   background-color: #FE6903!important; /* 红色 */
  // }
  .el-slider__button {
    width: 16px;
    height: 16px;
    // border: 2px solid #FE6903!important;
  }
}

// element 默认图片样式
.el-image {
  width: 100%;
  height: 100%;
  .image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background: var(--el-fill-color-light);
    color: var(--el-text-color-secondary);
    font-size: 30px;
    .el-icon {
      font-size: 30px;
    }
  }
}