.el-button.el-button--primary {
  $color: #FE6903;
  background-color: $color;
  color: #fff;
  border-color: $color;
  &:hover {
    color: #fff;
    border-color: lighten($color, 20%)!important;
    background-color: lighten($color, 20%)!important;
  }
  &.is-disabled {
    border-color: lighten($color, 20%)!important;
    background-color: lighten($color, 20%)!important;
  }
}
.config-edit-item, .config-wrapper {
  // .el-slider__bar {
  //   background-color: #FE6903!important; /* 红色 */
  // }
  .el-slider__button {
    width: 16px;
    height: 16px;
    // border: 2px solid #FE6903!important;
  }
}

// element 默认图片样式
.el-image {
  width: 100%;
  height: 100%;
  .image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background: var(--el-fill-color-light);
    color: var(--el-text-color-secondary);
    font-size: 30px;
    .el-icon {
      font-size: 30px;
    }
  }
}

// dialog style
.el-dialog.ph-dialog {
  padding: 0!important;
  .el-dialog__header {
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    border-bottom: 1px solid #F2F2F2;
  }
  .el-dialog__body {
    padding: 20px 20px 0;
  }
  .el-dialog__footer {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }
}